.loader {
    position: fixed;
    top: 40%;
    left: 47%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 6px solid #EEEEEE;
    border-top-color: #BFBFBF;
    border-bottom-color: #BFBFBF;
    -webkit-animation: loader 2.5s infinite ease-in-out;
    animation: loader 2.5s infinite ease-in-out;
}
 
@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
}
 
@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
}
